<p-table
  [value]="value()"
  [lazy]="true"
  [lazyLoadOnInit]="lazyLoadOnInit()"
  [loading]="loading()"
  [sortField]="sortField()"
  [sortOrder]="sortOrder()"
  [dataKey]="dataKey()"
  [scrollable]="true"
  [resizableColumns]="true"
  columnResizeMode="expand"
  stateStorage="local"
  [stateKey]="stateKey()"
  stripedRows
  showGridlines
  size="small"
  (onLazyLoad)="lazyLoad.emit($event)"
>
  <!-- Precisa ser filho DIRETO de <p-table>: a query do PrimeNG é
       `['loadingicon'], descendants: false`. -->
  <ng-template #loadingicon>
    <vtp-plate-loader tamanho="sm" />
  </ng-template>
  <ng-template #colgroup>
    <colgroup>
      @for (col of cols(); track col.field) {
        <col [style.width]="col.width" />
      }
    </colgroup>
  </ng-template>
  <ng-template #header>
    <tr>
      @for (col of cols(); track col.field) {
        <th
          pResizableColumn
          pFrozenColumn
          [frozen]="col.frozen ?? false"
          [pSortableColumn]="col.field"
          [pSortableColumnDisabled]="col.sortable === false"
          [class.data-table__secondary]="col.secondary"
        >
          {{ col.header }}
          @if (col.sortable !== false) {
            <p-sortIcon [field]="col.field" />
          }
        </th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-row>
    <tr class="cursor-pointer" (click)="rowClick.emit(row)">
      @for (col of cols(); track col.field) {
        <td
          pFrozenColumn
          [frozen]="col.frozen ?? false"
          [style.text-align]="col.align === 'end' ? 'right' : null"
          [class.tabular-nums]="col.decimals !== undefined"
          [class.data-table__secondary]="col.secondary"
        >
          {{ displayValue(col, row) }}
        </td>
      }
    </tr>
  </ng-template>
</p-table>
