<p-table
  [value]="value()"
  [lazy]="true"
  [lazyLoadOnInit]="lazyLoadOnInit()"
  [loading]="loading()"
  [sortField]="sortField()"
  [sortOrder]="sortOrder()"
  [dataKey]="dataKey()"
  stripedRows
  showGridlines
  size="small"
  responsiveLayout="scroll"
  (onLazyLoad)="lazyLoad.emit($event)"
>
  <ng-template #header>
    <tr>
      @for (col of cols(); track col.field) {
        <th
          [pSortableColumn]="col.field"
          [pSortableColumnDisabled]="col.sortable === false"
          [class.text-right]="col.align === 'end'"
          [class.data-table__secondary]="col.secondary"
        >
          {{ col.header }}
          @if (col.sortable !== false) {
            <p-sortIcon [field]="col.field" />
          }
        </th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-row>
    <tr class="cursor-pointer" (click)="rowClick.emit(row)">
      @for (col of cols(); track col.field) {
        <td
          [class.text-right]="col.align === 'end'"
          [class.tabular-nums]="col.decimals !== undefined"
          [class.data-table__secondary]="col.secondary"
        >
          {{ displayValue(col, row) }}
        </td>
      }
    </tr>
  </ng-template>
</p-table>
